<h1 class="subheader">Listing pins</h1>

<div class="row">
  <table class="large-12 columns">
      <tr>
        <th><h4 class="subheader left">Description</h3></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <%= render @pins %>
  </table>
</div>
<br />

<%= link_to 'New Pin', new_pin_path, class: "button" %>
