
<div class="panel">
  <% if user_signed_in? %>
    <h1 class="subheader">Welcome to One Month Rails!</h1>
    <h4 class="subheader">I am excited you joined.</h4>
    <p>   
    <%= link_to "Edit Profile", edit_user_registration_path, class: "button large success" %>
    </p>
  <% else %>
    <h1>Welcome to One Month Rails!</h1>
    <h3 class="subheader">
    	You've found the home page for the 
    	<%= link_to "One Month Rails", "http://onemonthrails.com", :target => "_blank" %>
    	application.
    </h3>
    <p>
    	<%= link_to "Sing Up Now!" , new_user_registration_path, class: "button large success" %>
    </p>
  <% end %>
</div>