<div class="panel">
  <h1>Welcome to One Month Rails!</h1>
  <h3 class="subheader">
  	You've found the home page for the 
  	<%= link_to "One Month Rails", "http://onemonthrails.com", :target => "_blank" %>
  	application.
  </h3>
  <p>
  	<%= link_to "Sing Up Now!" , "#", class: "btn-flat-large-sucess" %>
  </p>
</div>