// Foundation: We use these as default colors throughout

$primary-color: #2ba6cb; 
$secondary-color: #e9e9e9;
$alert-color: #c60f13;
$success-color: #5da423;

// Added Colors from Bootstrap
// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;