@import "colors";


// Custom Element Styling
.top-bar-section li a:not(.button):hover {
    background: $white !important;
}

// Dropping shadow from button class. All buttons flat

.button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

// Footer
.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}
